.about{
    margin-top: 80px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right,#0f2027,#203a43,#2c5364);
    color: white;
}
.about-container{
    display: flex;
    align-items: center;
    
    gap: 50px;
    max-width: 1000px;
    padding: 20px;
}
.about-left img{
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}
.about-right h1{
   font-size: 40px;
}
.about-right h3{
    color: #00d4ff;
    margin-bottom: 10px;

}
.about-right p{
    margin: 15px 0;
    line-height: 1.7;
    opacity: 0.9;
}








.skills{
    display: flex;
    gap: 10px;
    margin: 15px 0;
}
.skills span{
    background: linear-gradient(135deg,#a855f7,#6366f1);
    
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
}
.buttons button{
    background-color: blue;
    color: black;
    padding: 15px 10px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
}
.buttons button:hover{
    transform:scale(1.05)
}